<!doctype html>
<html lang="zh_cn">
<head>
<meta charset="utf-8">
<title>tftc数据库运维平台</title>
<meta name="description" content="">

<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">

<link rel="stylesheet" href="/static/css/bootstrap.css">
<link rel="stylesheet" href="/static/css/jquery.fancybox.css">
<link rel="stylesheet" href="/static/css/login.css">
</head>
<body class='login_body'>
	<div class="wrap">
		<h2>tftc数据库运维平台</h2>
		<form action="" method="post" class="validate">
			{% for item in message %}
			<div class="alert alert-error">
				<strong>Error!</strong> {{item}}
			</div>
			{% endfor %}
		<div class="login">
			<div class="email">
				<label for="username">用户名</label><div class="email-input"><div class="control-group"><div class="input-prepend"><span class="add-on"><i class="icon-envelope"></i></span><input type="text" id="username" name="username" class="{required:true}"></div></div></div>
			</div>
			<div class="pw">
				<label for="password">密码</label><div class="pw-input"><div class="control-group"><div class="input-prepend"><span class="add-on"><i class="icon-lock"></i></span><input type="password" id="password" name="password" class='{required:true}'></div></div></div>
			</div>
		</div>
		<div class="submit">
			<button class="btn btn-red5">登录</button>
		</div>
		</form>
	</div>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/jquery.metadata.js"></script>
<script src="/static/js/error.js"></script>
</body>
</html>
