<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>tftc数据库运维平台</title>
<meta name="description" content="">

<meta name="viewport" content="width=device-width">

<link rel="stylesheet" href="/static/css/bootstrap.css">
<link rel="stylesheet" href="/static/css/bootstrap-responsive.css">
<link rel="stylesheet" href="/static/css/jquery.fancybox.css">
<link rel="stylesheet" href="/static/css/chosen.css">
<link rel="stylesheet" href="/static/css/jquery.jgrowl.css">
<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="topbar">
	<div class="container-fluid">
		<a href="/dashboard/" class='company'>tftc数据库运维平台</a>
		<form action="#">
			<input type="text" value="Search here...">
		</form>
		<ul class='mini'>
			<li class='dropdown dropdown-noclose supportContainer'>
				<a href="/logout/" class='dropdown-toggle' data-toggle="dropdown">
					<img src="/static/img/icons/fugue/control-power.png" alt="">
					退出
				</a>
			</li>
		</ul>
	</div>
</div>
<div class="breadcrumbs">
	<div class="container-fluid">
		<ul class="bread pull-left">
			<li>
				<a href="/dashboard/"><i class="icon-home icon-white"></i></a>
			</li>
			<li>
				<a href="/dashboard/">
					面板
				</a>
			</li>
		</ul>

	</div>
</div>
<div class="main">
	<div class="container-fluid">
	<div class="navi">
		<ul class='main-nav'>
			<li class=''>
				<a href="/dashboard/" class='light'>
					<div class="ico"><i class="icon-home icon-white"></i></div>
					面板
				</a>
			</li>
			<li class='active open'>
				<a href="#" class='light toggle-collapsed'>
					<div class="ico"><i class="icon-th-large icon-white"></i></div>
						数据库更新
					<img src="/static/img/toggle-subnav-up-white.png" alt="">
				</a>
				<ul class='collapsed-nav'>
					<li class='active'>
						<a href="/mysqldata/">
							MySQL 更新
						</a>
					</li>
					{% if num3 == 1 %}
					<li>
						<a href="/serverdatalist/">
							MySQL/Server配置
						</a>
					</li>
					{% endif %}
				</ul>
			</li>
			{% if num3 == 1 %}
            <li>
				<a href="#" class='light toggle-collapsed'>
					<div class="ico"><i class="icon-th-large icon-white"></i></div>
					数据库监控
					<img src="/static/img/toggle-subnav-down.png" alt="">
				</a>
				<ul class='collapsed-nav closed'>
					<li>
						<a href="/mysqlmonitor/">
							DB监控配置
						</a>
					</li>
					<li>
						<a href="/dbgraphshow/">
							监控图形展示
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#" class='light toggle-collapsed'>
					<div class="ico"><i class="icon-th-large icon-white"></i></div>
					数据库report
					<img src="/static/img/toggle-subnav-down.png" alt="">
				</a>
				<ul class='collapsed-nav closed'>
					<li>
						<a href="/mysqlreportdata/">
							MySQL-report
						</a>
					</li>
				</ul>
			</li>
		{% endif %}
		</ul>
	</div>
	<div class="content">
			<div class="row-fluid">
				<div class="span12">
					<div class="box">
						<div class="box-head">
							<h3>mysql数据库更新</h3>
						</div>
						<div class="box-content">
							<form action="" method="post" class="form-horizontal" onsubmit="return toVaild()">
<!--							{% csrf_token %} -->
								    <div class="control-group">
										<label for="select" class="control-label">数据库名称</label>
										<div class="controls">
											<select name="dbid" id="select">
												{%for item in datas %}
												<option value="{{item.0}}" id='dbid' onClick="checkdbid('dbid')">{{item.4}}</option>
												{% endfor %}
											</select>
										</div>
									</div>
									<div class="control-group">
										<label for="textcounter" class="control-label">sql语句</label>
										<div class="controls">
											<textarea name="sqlcontent" id="textcounter" class='input-square span9 counter required:true' data-max="5000" rows='20'></textarea>
										</div>
									</div>
									<div class="submit">
										<button class="btn btn-primary" >提交更新</button>
									</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script language="javascript">
function toVaild(){
    var val = document.getElementById("textcounter").value;
     if(val == ''){
     	 alert("sql语句内容为空，不进行提交");
         return false;
     }
}
</script>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/less.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.uniform.min.js"></script>
<script src="/static/js/bootstrap.timepicker.js"></script>
<script src="/static/js/bootstrap.datepicker.js"></script>
<script src="/static/js/chosen.jquery.min.js"></script>
<script src="/static/js/jquery.fancybox.js"></script>
<script src="/static/js/plupload/plupload.full.js"></script>
<script src="/static/js/plupload/jquery.plupload.queue/jquery.plupload.queue.js"></script>
<script src="/static/js/jquery.cleditor.min.js"></script>
<script src="/static/js/jquery.inputmask.min.js"></script>
<script src="/static/js/jquery.tagsinput.min.js"></script>
<script src="/static/js/jquery.mousewheel.js"></script>
<script src="/static/js/jquery.textareaCounter.plugin.js"></script>
<script src="/static/js/ui.spinner.js"></script>
<script src="/static/js/jquery.jgrowl_minimized.js"></script>
<script src="/static/js/jquery.form.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/bbq.js"></script>
<script src="/static/js/jquery-ui-1.8.22.custom.min.js"></script>
<script src="/static/js/jquery.form.wizard-min.js"></script>
<script src="/static/js/jquery.cookie.js"></script>
<script src="/static/js/jquery.metadata.js"></script>
<script src="/static/js/custom.js"></script><script src="/static/js/demo.js"></script>
</body>
</html>