<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>tftc数据库运维平台</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="/static/css/bootstrap.css">
<link rel="stylesheet" href="/static/css/bootstrap-responsive.css">
<link rel="stylesheet" href="/static/css/jquery.fancybox.css">
<link rel="stylesheet" href="/static/css/uniform.default.css">
<link rel="stylesheet" href="/static/css/bootstrap.datepicker.css">
<link rel="stylesheet" href="/static/css/jquery.cleditor.css">
<link rel="stylesheet" href="/static/css/jquery.plupload.queue.css">
<link rel="stylesheet" href="/static/css/jquery.tagsinput.css">
<link rel="stylesheet" href="/static/css/jquery.ui.plupload.css">
<link rel="stylesheet" href="/static/js/tableTools/css/TableTools.css">
<link rel="stylesheet" href="/static/css/chosen.css">
<link rel="stylesheet" href="/static/css/chosen.css">
<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="topbar">
	<div class="container-fluid">
		<a href="/dashboard/" class='company'>tftc数据库运维平台</a>
		<form action="#">
			<input type="text" value="Search here...">
		</form>
		<ul class='mini'>
			<li class='dropdown dropdown-noclose supportContainer'>
				<a href="/logout" class='dropdown-toggle' data-toggle="dropdown">
					<img src="/static/img/icons/fugue/control-power.png" alt="">
					退出
				</a>
				<ul class="dropdown-menu pull-right custom custom-dark" />
			</li>
		</ul>
	</div>
</div>
<div class="breadcrumbs">
	<div class="container-fluid">
		<ul class="bread pull-left">
			<li>
				<a href="/dashboard/"><i class="icon-home icon-white"></i></a>
			</li>
			<li>
				<a href="/dashboard/">
					面板
				</a>
			</li>
		</ul>

	</div>
</div>
<div class="main">
	<div class="container-fluid">
	<div class="navi">
		<ul class='main-nav'>
			<li class='active'>
				<a href="/dashboard/" class='light'>
					<div class="ico"><i class="icon-home icon-white"></i></div>
					面板
				<!--	<span class="label label-warning">10</span> -->
				</a>
			</li>
			<li>
				<a href="#" class='light toggle-collapsed'>
					<div class="ico"><i class="icon-th-large icon-white"></i></div>
					数据库更新
					<img src="/static/img/toggle-subnav-down.png" alt="">
				</a>
				<ul class='collapsed-nav closed'>
					<li>
						<a href="/mysqldata/">
							MySQL更新
						</a>
					</li>
					<li>
						<a href="/serverdatalist/">
							MySQL/Server配置
						</a>
					</li>
				</ul>
			</li>
			<li class='active open'>
				<a href="#" class='light toggle-collapsed'>
					<div class="ico"><i class="icon-tasks icon-white"></i></div>
						数据库监控
					<img src="/static/img/toggle-subnav-up-white.png" alt="">
				</a>
				<ul class='collapsed-nav'>
					<li class='active'>
						<a href="/mysqlmonitor/">
							DB监控配置
						</a>
					</li>
					<li>
						<a href="/dbgraphshow/">
							监控图形展示
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#" class='light toggle-collapsed'>
					<div class="ico"><i class="icon-th-large icon-white"></i></div>
					数据库report
					<img src="/static/img/toggle-subnav-down.png" alt="">
				</a>
				<ul class='collapsed-nav closed'>
					<li>
						<a href="/mysqlreportdata/">
							MySQL-report
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="content">
			<div class="row-fluid">
				<div class="span12">
					<div class="box">
						<div class="box-head" />
						</div>
						<div class="box-content">
							<ul class="quicktasks">
								<li>
									<a href="/addosmonitorrelation/">
										<img src="/static/img/icons/essen/32/date.png" alt="">
										<span>增加监控关联</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12">
					<div class="box">
						<div class="box-head">
							<h3>os监控关联列表</h3>
						</div>
						<div class="box-content box-nomargin">
							<table class='table dataTable table-bordered'>
								<thead>
									<tr>
										<th>监控ID</th>
										<th>监控名称</th>
										<th>服务器名称</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>{% for item in datas %}
									<tr>
										<td>{{item.0}}</td>
										<td>{{item.1}}</td>
										<td>{{item.3}}</td>
 										<td class='actions_big'>
											<div class="btn-group">
												<a href="/deleteosmonitorrealtion?monitorid={{item.0}}&serverid={{item.2}}" class='btn btn-mini tip' title="删除" onclick="javascript:return p_del()"><img src="/static/img/icons/essen/32/milestone.png" alt=""></a>
											</div>
										</td>
									</tr>{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script LANGUAGE=javascript>
function p_update() {
	var msg = "您真的确定要修改该端口报警吗？请确认！";
	if (confirm(msg)==true){
		return true;
	}else{
		return false;
	}
}
function p_del() {
	var msg = "您真的确定要禁用该端口报警吗？请确认！";
	if (confirm(msg)==true){
		return true;
	}else{
		return false;
	}
}
</script>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/less.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.uniform.min.js"></script>
<script src="/static/js/bootstrap.timepicker.js"></script>
<script src="/static/js/bootstrap.datepicker.js"></script>
<script src="/static/js/chosen.jquery.min.js"></script>
<script src="/static/js/jquery.fancybox.js"></script>
<script src="/static/js/plupload/plupload.full.js"></script>
<script src="/static/js/plupload/jquery.plupload.queue/jquery.plupload.queue.js"></script>
<script src="/static/js/jquery.cleditor.min.js"></script>
<script src="/static/js/jquery.inputmask.min.js"></script>
<script src="/static/js/jquery.tagsinput.min.js"></script>
<script src="/static/js/jquery.mousewheel.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/jquery.dataTables.bootstrap.js"></script>
<script src="/static/js/jquery.textareaCounter.plugin.js"></script>
<script src="/static/js/ui.spinner.js"></script>
<script src="/static/js/jquery.cookie.js"></script>
<script src="/static/js/tableTools/js/TableTools.min.js"></script>
<script src="/static/js/custom.js"></script><script src="/static/js/demo.js"></script>
</body>
</html>
