<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>tftc数据库运维平台</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="/static/css/bootstrap.css">
<link rel="stylesheet" href="/static/css/bootstrap-responsive.css">
<link rel="stylesheet" href="/static/css/jquery.fancybox.css">
<link rel="stylesheet" href="/static/css/uniform.default.css">
<link rel="stylesheet" href="/static/css/bootstrap.datepicker.css">
<link rel="stylesheet" href="/static/css/jquery.cleditor.css">
<link rel="stylesheet" href="/static/css/jquery.plupload.queue.css">
<link rel="stylesheet" href="/static/css/jquery.tagsinput.css">
<link rel="stylesheet" href="/static/css/jquery.ui.plupload.css">
<link rel="stylesheet" href="/static/js/tableTools/css/TableTools.css">
<link rel="stylesheet" href="/static/css/chosen.css">
<link rel="stylesheet" href="/static/css/chosen.css">
<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="topbar">
	<div class="container-fluid">
		<a href="/dashboard/" class='company'>tftc数据库运维平台</a>
		<form action="#">
			<input type="text" value="Search here...">
		</form>
		<ul class='mini'>
			<li class='dropdown dropdown-noclose supportContainer'>
				<a href="/logout/" class='dropdown-toggle' data-toggle="dropdown">
					<img src="/static/img/icons/fugue/control-power.png" alt="">
					退出
				</a>
			</li>
		</ul>
	</div>
</div>
<div class="breadcrumbs">
	<div class="container-fluid">
		<ul class="bread pull-left">
			<li>
				<a href="/dashboard/"><i class="icon-home icon-white"></i></a>
			</li>
			<li>
				<a href="/dashboard/">
					面板
				</a>
			</li>
		</ul>

	</div>
</div>
<div class="main">
	<div class="container-fluid">
	<div class="navi">
		<ul class='main-nav'>
			<li class=''>
				<a href="/dashboard/" class='light'>
					<div class="ico"><i class="icon-home icon-white"></i></div>
					面板
				</a>
			</li>
			<li class='active open'>
				<a href="#" class='light toggle-collapsed'>
					<div class="ico"><i class="icon-th-large icon-white"></i></div>
						数据库更新
					<img src="/static/img/toggle-subnav-up-white.png" alt="">
				</a>
				<ul class='collapsed-nav'>
					<li class='active'>
						<a href="/mysqldata/">
							MySQL 更新
						</a>
					</li>
					{% if num3 == 1 %}
					<li>
						<a href="/serverdatalist/">
							MySQL/Server配置
						</a>
					</li>
					{% endif %}
				</ul>
			</li>
			{% if num3 == 1 %}
			<li>
				<a href="#" class='light toggle-collapsed'>
					<div class="ico"><i class="icon-th-large icon-white"></i></div>
					数据库监控
					<img src="/static/img/toggle-subnav-down.png" alt="">
				</a>
				<ul class='collapsed-nav closed'>
					<li>
						<a href="/mysqlmonitor/">
							DB监控配置
						</a>
					</li>
					<li>
						<a href="/dbgraphshow/">
							监控图形展示
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#" class='light toggle-collapsed'>
					<div class="ico"><i class="icon-th-large icon-white"></i></div>
					数据库report
					<img src="/static/img/toggle-subnav-down.png" alt="">
				</a>
				<ul class='collapsed-nav closed'>
					<li>
						<a href="/mysqlreportdata/">
							MySQL-report
						</a>
					</li>
				</ul>
			</li>
			{% endif %}
		</ul>
	</div>
	<div class="content">
		<div class="row-fluid">
			<div class="row-fluid">
				<div class="span12">
					<div class="box">
						<div class="box-head">
							<h3>mysql待完成更新任务</h3>
						</div>
						<div class="box-content box-nomargin">
							<table class='table dataTable table-bordered'>
								<thead>
									<tr>
										<th>任务提交用户</th>
										<th>要执行DB</th>
										<td>任务状态</td>
										<td>任务提交时间</td>
										<th>sql数据</th>
										{% if num3 == 1 %}
										<td>操作</td>
										{% endif %}
									</tr>
								</thead>
								<tbody>{% for item in datas %}
									<tr>
										<td>{{item.1}}</td>
										<td>{{item.2}}</td>
										{% if item.3 == 2 %}
											<td>打回</td>
										{% elif item.3 == 1 %}
											<td>执行完毕</td>
										{% elif item.3 == 0 %}
											<td>待执行</td>
										{% endif %}
										<td>{{item.5|date:"Y-m-d H:i:s"}}</td>
										<td class='actions_big'>
											<div class="btn-group">
												<a href="/mysqlsqlcontentinfo?id={{item.0}}" class='btn btn-mini tip' title="sql内容" ><img src="/static/img/icons/essen/32/administrative-docs.png" ></a>
												<a href="/updatemysqlsqltask?id={{item.0}}" class='btn btn-mini tip' title="sql修改" ><img src="/static/img/icons/essen/32/archives.png"></a>
												<a href="/mysqlcheckdata?id={{item.0}}" class='btn btn-mini tip' title="sql检查结果" ><img src="/static/img/icons/essen/32/administrative-docs.png"></a>
											</div>
										</td>
										{% if num3 == 1 %}
										<td class='actions_big'>
											<div class="btn-group">
												<a href="/mysqlsqlexecute?id={{item.0}}" class='btn btn-mini tip' title="sql直接执行" onclick="javascript:return update_by_sql()"><img src="/static/img/icons/essen/32/config.png" alt=""></a>
												<a href="/deletemysqltask?id={{item.0}}" class='btn btn-mini tip' title="删除任务" onclick="javascript:return p_del()"><img src="/static/img/icons/essen/32/milestone.png" alt=""></a>
												<a href="/mysqlincepexecute?id={{item.0}}" class='btn btn-mini tip' title="Incept执行" onclick="javascript:return update_by_incep()"><img src="/static/img/icons/essen/32/settings.png" alt=""></a>
											</div>
										</td>
										{% endif %}
									</tr>{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script LANGUAGE=javascript>
function p_del() {
	var msg = "您真的确定要删除吗？请确认！";
	if (confirm(msg)==true){
		return true;
	}else{
		return false;
	}
}
function update_by_sql() {
	var msg = "您真的确定要直接sql更新吗？请确认！";
	if (confirm(msg)==true){
		return true;
	}else{
		return false;
	}
}
function update_by_incep() {
	var msg = "您真的确定要使用inception更新吗？请确认！";
	if (confirm(msg)==true){
		return true;
	}else{
		return false;
	}
}
</script>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/less.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.uniform.min.js"></script>
<script src="/static/js/bootstrap.timepicker.js"></script>
<script src="/static/js/bootstrap.datepicker.js"></script>
<script src="/static/js/chosen.jquery.min.js"></script>
<script src="/static/js/jquery.fancybox.js"></script>
<script src="/static/js/plupload/plupload.full.js"></script>
<script src="/static/js/plupload/jquery.plupload.queue/jquery.plupload.queue.js"></script>
<script src="/static/js/jquery.cleditor.min.js"></script>
<script src="/static/js/jquery.inputmask.min.js"></script>
<script src="/static/js/jquery.tagsinput.min.js"></script>
<script src="/static/js/jquery.mousewheel.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/jquery.dataTables.bootstrap.js"></script>
<script src="/static/js/jquery.textareaCounter.plugin.js"></script>
<script src="/static/js/ui.spinner.js"></script>
<script src="/static/js/jquery.cookie.js"></script>
<script src="/static/js/tableTools/js/TableTools.min.js"></script>
<script src="/static/js/custom.js"></script><script src="/static/js/demo.js"></script>
</body>
</html>
