<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>tftc数据库运维平台</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="/static/css/bootstrap.css">
<link rel="stylesheet" href="/static/css/bootstrap-responsive.css">
<link rel="stylesheet" href="/static/css/jquery.fancybox.css">
<link rel="stylesheet" href="/static/css/uniform.default.css">
<link rel="stylesheet" href="/static/css/bootstrap.datepicker.css">
<link rel="stylesheet" href="/static/css/jquery.cleditor.css">
<link rel="stylesheet" href="/static/css/jquery.plupload.queue.css">
<link rel="stylesheet" href="/static/css/jquery.tagsinput.css">
<link rel="stylesheet" href="/static/css/jquery.ui.plupload.css">
<link rel="stylesheet" href="/static/js/tableTools/css/TableTools.css">
<link rel="stylesheet" href="/static/css/chosen.css">
<link rel="stylesheet" href="/static/css/chosen.css">
<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="topbar">
	<div class="container-fluid">
		<a href="/dashboard/" class='company'>tftc数据库运维平台</a>
		<form action="#">
			<input type="text" value="Search here...">
		</form>
		<ul class='mini'>
			<li class='dropdown dropdown-noclose supportContainer'>
				<a href="/logout/" class='dropdown-toggle' data-toggle="dropdown">
					<img src="/static/img/icons/fugue/control-power.png" alt="">
					退出
				</a>
			</li>
		</ul>
	</div>
</div>
<div class="breadcrumbs">
	<div class="container-fluid">
		<ul class="bread pull-left">
			<li>
				<a href="/dashboard/"><i class="icon-home icon-white"></i></a>
			</li>
			<li>
				<a href="/dashboard/">
					面板
				</a>
			</li>
		</ul>

	</div>
</div>
<div class="main">
	<div class="container-fluid">
	<div class="navi">
		<ul class='main-nav'>
			<li class='active'>
				<a href="/dashboard/" class='light'>
					<div class="ico"><i class="icon-home icon-white"></i></div>
					面板
				<!--	<span class="label label-warning">10</span> -->
				</a>
			</li>
			<li>
				<a href="#" class='light toggle-collapsed'>
					<div class="ico"><i class="icon-th-large icon-white"></i></div>
					数据库更新
					<img src="/static/img/toggle-subnav-down.png" alt="">
				</a>
				<ul class='collapsed-nav closed'>
					<li>
						<a href="/mysqldata/">
							MySQL更新
						</a>
					</li>
					<li>
						<a href="/dbgraphshow/">
							Redis更新
						</a>
					</li>
				</ul>
			</li>
			<li class='active open'>
				<a href="#" class='light toggle-collapsed'>
					<div class="ico"><i class="icon-tasks icon-white"></i></div>
						数据库监控
					<img src="/static/img/toggle-subnav-up-white.png" alt="">
				</a>
				<ul class='collapsed-nav'>
					<li class='active'>
						<a href="/mysqlmonitor/">
							DB监控配置
						</a>
					</li>
					<li>
						<a href="/serverdatalist/">
							监控图形展示
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#" class='light toggle-collapsed'>
					<div class="ico"><i class="icon-th-large icon-white"></i></div>
					数据库report
					<img src="/static/img/toggle-subnav-down.png" alt="">
				</a>
				<ul class='collapsed-nav closed'>
					<li>
						<a href="/mysqlreportdata/">
							MySQL-report
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="content">
			<div class="row-fluid">
				<div class="span12">
					<div class="box">
						<div class="box-head">
							<h3>更新db监控</h3>
						</div>
						<div class="box-content">
							<form action="" method="post" class="form-horizontal validate"  onsubmit="return toVaild()">
								{%for item in datas %}
									<div class="control-group">
										<label for="monitortype" class="control-label">监控类型</label>
										<div class="controls">
											<select name="monitortype" id="monitortype">
												{% if item.1 == 1 %}
													<option value="1">DB监控配置</option>
													<option value="2">reids监控</option>
												{% elif item.1 == 2 %}
													<option value="2">reids监控</option>
													<option value="1">DB监控配置</option>
												{%endif%}
											</select>
										</div>
									</div>
									<div class="control-group">
										<label for="monitorname" class="control-label">监控名称</label>
										<div class="controls">
											<input type="text" name="monitorname" id="monitorname" class="{required:true}" value="{{item.2}}">
										</div>
									</div>
									<div class="control-group">
										<label for="ismonitor" class="control-label">是否使用监控</label>
										<div class="controls">
											{% if item.5 == 1 %}
												<label class="radio"><input type="radio" name='ismonitor' id="ismonitor" value='1'  checked="checked"> 监控</label>
												<label class="radio"><input type="radio" name='ismonitor'  value='0' > 不监控</label>
											{% elif item.5 == 0 %}
												<label class="radio"><input type="radio" name='ismonitor'  value='1'  checked="checked"> 监控</label>
												<label class="radio"><input type="radio" name='ismonitor'  value='0'  checked="checked" > 不监控</label>
											{% endif %}
										</div>
									</div>
									<div class="control-group">
										<label for="monitorshell" class="control-label">监控脚本</label>
										<div class="controls">
											<textarea name="monitorshell" id="monitorshell" class='input-square span9 counter required:true' data-max="1000" rows='20'>{{item.4}}</textarea>
										</div>
									</div>
									<input type="hidden" name="monitorid" value="{{item.0}}" />
									<div class="submit">
										<button class="btn btn-primary" >更新db监控</button>
									</div>
								{% endfor %}
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script language="javascript">
function toVaild(){
    var monitorname = document.getElementById("monitorname").value;
    var monitorshell = document.getElementById("monitorshell").value;

    if(monitorname == '' || monitorshell == ''){
     	if(monitorname == '' ){
     		alert("监控名称不为空,并且每个服务器唯一");
        	return false;
        }
        if(monitorshell == '' ){
     		alert("监控脚本项不为空");
        	return false;
        }
    }
}
</script>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/less.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/jquery.uniform.min.js"></script>
<script src="/static/js/bootstrap.timepicker.js"></script>
<script src="/static/js/bootstrap.datepicker.js"></script>
<script src="/static/js/chosen.jquery.min.js"></script>
<script src="/static/js/jquery.fancybox.js"></script>
<script src="/static/js/plupload/plupload.full.js"></script>
<script src="/static/js/plupload/jquery.plupload.queue/jquery.plupload.queue.js"></script>
<script src="/static/js/jquery.cleditor.min.js"></script>
<script src="/static/js/jquery.inputmask.min.js"></script>
<script src="/static/js/jquery.tagsinput.min.js"></script>
<script src="/static/js/jquery.mousewheel.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/jquery.dataTables.bootstrap.js"></script>
<script src="/static/js/jquery.textareaCounter.plugin.js"></script>
<script src="/static/js/ui.spinner.js"></script>
<script src="/static/js/jquery.cookie.js"></script>
<script src="/static/js/tableTools/js/TableTools.min.js"></script>
<script src="/static/js/custom.js"></script><script src="/static/js/demo.js"></script>
</body>
</html>
